<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616047316986-n90c26lg92mtvls6udrkejf4ttq92jdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616047316986-n90c26lg92mtvls6udrkejf4ttq92jdn</string>
	<key>API_KEY</key>
	<string>AIzaSyCDQ2Mx8A-4YnnbiVvHEA_vP2hg_JtYmVc</string>
	<key>GCM_SENDER_ID</key>
	<string>616047316986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ufukcanli.Loodos</string>
	<key>PROJECT_ID</key>
	<string>loodos-47732</string>
	<key>STORAGE_BUCKET</key>
	<string>loodos-47732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616047316986:ios:be26dc69b786b81d811e43</string>
</dict>
</plist>